<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Name: <%= @message_detail[:name]%> </h2>
    <h3> Subject: <%= @message_detail[:subject]%> </h3>
    <h3> Email: <%= @message_detail[:email]%> </h3>
    <p> Message: <%= @message_detail[:message]%> </p>
  </body>
</html>